#title-bar {
    -webkit-app-region: drag;
    height: 20px;
    background-color: #1e1e1e;
    margin: 0;
    padding: 5px;
    color: white;
}

#topTitle {
    position: fixed;
    top: 8px;
    left: 15px;
    font-size: 13px;
}

#title-bar-btns {
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
}
/**** DISABLES DRAG ****/
.noTouch, .noTouch::after, .noTouch::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

#close-button {
    padding: 10px;
    cursor: pointer;
}
#close-button:hover {
    background: rgba(255, 255, 255, 0.15);
}

html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.noTouch {
    height: calc(100% - 30px);
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.violet {
    float: left;
    margin-left: 30px;
    height: calc(100% - 50px);
    width: calc(175px - 30px);
    background-color: rgba(155, 39, 176, 0.76);
    padding: 25px 15px 25px 15px;
}

.basic {
    height: calc(100% - 50px);
    width: 360px;
    float: right;
    text-align: left;
}

.logoText {
    position: absolute;
    width: 145px;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 35px;
}

h1 {
    color: rgb(255, 255, 255);
    float: left;
    font-size: 28px;
    font-weight: normal;
}

.text {
    float: left;
    font-size: 14px;
    font-weight: normal;
}

.limitTwo {
    height: 2em;
    line-height: 1em;
    overflow: hidden;
}

.limitThree {
    max-height: 3em;
    line-height: 1em;
    overflow: hidden;
}

.title {
    font-size: 16px !important;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 3px;
}

.blue {
    color: rgb(1, 169, 242);
}

.green {
    color: rgb(139, 195, 74);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.greenText {
    color: rgb(139, 195, 74) !important;
}

.redText {
    color: rgb(233, 30, 99) !important;
}

a.buttonGreen {
    background-color: rgb(139, 195, 74);
}

a.greenDisabled,
a.greenDisabled:hover {
    cursor: default !important;
    background-color: rgba(50, 70, 27, 0.8);
}

a.buttonGreen:hover {
    background-color: rgba(139, 195, 74, 0.8);
}

a.buttonGray {
    background-color: rgba(255, 255, 255, 0.75);
}

a.buttonGray:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.spacer {
    float: left;
    clear: both;
    width: 300px;
    height: 15px;
}

footer {
    text-align: right;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.upload {
    float: left;
    clear: both;
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 50px;
}

.button {
    cursor: pointer;
    border: none;
    padding: 10px 30px 10px 30px;
}

.auto {
    float: left;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.messageWindow {
    float: left;
    width: 300px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid white;
    background: black;
    color: white;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 12px;
}